.create-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-wrapper {
  display: flex;
}

.is-closed {
  display: none;
}
.input-box {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.error-label {
  color: red;
  font-size: 12px;
}

.input-button {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .input-container {
    width: 80%;
    align-items: center;
  }
  .input-box {
    width: 100%;
  }
}
